<ion-view title="2017 Apps">
    <ion-content>
        <div class="content">
            <img width="70%" src="images/2017Apps_icon.png" />
            <h2 class="title">行動應用軟體開發技術</h2>
            <h3 class="title">原始版本</h3>
        </div>
    </ion-content>
    <div class="button-bar">
        <a class="button button-outline button-assertive" ng-click="homeCtrl.getOriginalVersion()">原始版本</a>
        <a class="button button-outline button-positive" ng-click="homeCtrl.getSecondVersion()">版本二</a>
        <a class="button button-outline button-balanced" ng-click="homeCtrl.getThirdVersion()">版本三</a>
    </div>
</ion-view>